page-answer-survey {
	ion-label{
		font-size: 17px;
	}

	#qMSg{
		/*color: #12608A;*/
		/*background-color: #F7F7F7;*/
	}

	#title-desc{
		background-color: #F2F2F2;
		border-radius: 8px;
		padding: 7px;
	}

	#chat-icon-top-right{
		font-size: 26px;
	}
}
