page-chat {
	#chatPage {
		display: flex;
		flex-direction: row;

		.sent-msg {
			background-color: #5FAED9;
			border: none;
			/*text-align: right;*/
			border-top-left-radius: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			margin-bottom: 10px;
			width: 75%;
			float: right;
			
			
		}

		.received-msg {
			background-color: #F0F0F0;
			width: 75%;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}
	}
}


