 <!--
  Generated template for the TemplatesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Edit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<!-- FAB ICON -->

	<ion-fab bottom right #fab>
		<button ion-fab style="margin-bottom: 10px;"><ion-icon name="add"></ion-icon></button>
		<ion-fab-list side="top" class="questionChoice">
			<button ion-button (click)="addQuestion('date')">Date</button>
			<button ion-button (click)="addQuestion('time')">Time</button>
			<button ion-button (click)="addQuestion('dropdown')">Dropdown</button>
			<button ion-button (click)="addQuestion('checkbox')">Checkbox</button>
			<button ion-button (click)="addQuestion('multipleChoice')">Multiple Choice</button>
			<button ion-button (click)="addQuestion('longAnswer')">Long Answer</button>
			<button ion-button (click)="addQuestion('shortAnswer')">Short Answer</button>	
		</ion-fab-list>
 	</ion-fab>

 	<!-- CUSTOMER SURVEY TEMPLATES -->

	<div *ngIf="surveyTitle == 'Customer Satisfaction Survey Template'">
		<ion-item>
			<ion-input type="text" value="Customer Satisfaction Survey Template"></ion-input>
		</ion-item>

		<ion-item text-wrap>
			<ion-textarea id="description" type="text" style="border:none" rows=4 value="We care about your feedback! Please help us improve our services in a way that is most satisfactory to you. We appreciate your honesty. Thank you! "></ion-textarea>
		</ion-item>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">For how long have you been using our product?</ion-card-title>
			<ion-list radio-group>
	  			<ion-item>
				    <ion-label>Less than a month</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>1-12 months</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>1-3 years</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Over 3 years</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Never used </ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">How often do you used our product?</ion-card-title>
			<ion-list radio-group>
	  			<ion-item>
				    <ion-label>Once a week</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>2 or 3 times a month</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Once a month</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Less than once a month</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">How satisfied are you with the product?</ion-card-title>
			<ion-list radio-group>
	  			<ion-item>
				    <ion-label>Very satisfied</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Satisfied</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Neutral</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Unsatisfied</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Very Unsatisfied</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">What impresses you the most about the product?</ion-card-title>
			<ion-list radio-group>
	  			<ion-item>
				    <ion-label>Quality</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Price</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Usability</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Installation or First Use Experience</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Customer Service</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">What disappointed you the most about the product?</ion-card-title>
			<ion-list radio-group>
	  			<ion-item>
				    <ion-label>Quality</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Price</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Usability</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Installation or First Use Experience</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Customer Service</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Long Answer</ion-note>
	 		</div>
			<ion-card-title id="question-title">What do you like about the product?</ion-card-title
			>
			<ion-item>
				<ion-input type="text" placeholder="Long answer text" disabled #answer></ion-input>
			</ion-item>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Long Answer</ion-note>
	 		</div>
			<ion-card-title id="question-title">What do you dislike about the product?</ion-card-title>
			<ion-item>
				<ion-input type="text" placeholder="Long answer text" disabled #answer></ion-input>
			</ion-item>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">Compared to similar products offered by other companies, how do you consider our product?</ion-card-title>
			<ion-list radio-group>
	  			<ion-item>
				    <ion-label>Musch better</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Somewhat better</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>About the same</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Somewhat Worse</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Much Worse</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Much Worse</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">Would you use our product in the future?</ion-card-title>
			<ion-list radio-group>
	  			<ion-item>
				    <ion-label>Definitely</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Probably</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Not Sure</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Probably Not</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Definitely Not</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">Would you recommend our product to other people?</ion-card-title>
			<ion-list radio-group>
	  			<ion-item>
				    <ion-label>Definitely</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Probably</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Not Sure</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Probably Not</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Definitely Not</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>
	</div>

	<!-- DEMOGRAPHIC SURVEY -->

	<div *ngIf="surveyTitle == 'Demographic Survey Template'">
		<ion-item>
			<ion-input type="text" value="Demographic Survey Template"></ion-input>
		</ion-item>

		<ion-item text-wrap>
			<ion-textarea id="description" type="text" style="border:none" rows=4 value="This is a demographic survey."></ion-textarea>
		</ion-item>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Short Answer</ion-note>
	 		</div>
			<ion-card-title id="question-title">Name:</ion-card-title>
			<ion-item>
				<ion-input type="text" placeholder="Short answer text" disabled #answer></ion-input>
			</ion-item>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Short Answer</ion-note>
	 		</div>
			<ion-card-title id="question-title">Address:</ion-card-title>
			<ion-item>
				<ion-input type="text" placeholder="Short answer text" disabled #answer></ion-input>
			</ion-item>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Short Answer</ion-note>
	 		</div>
			<ion-card-title id="question-title">Date of birth:</ion-card-title>
			<ion-item>
				<ion-label>Select Date</ion-label>
				<ion-datetime displayFormat="MMM DD, YYYY" disabled #answerDate></ion-datetime>
			</ion-item>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">Gender:</ion-card-title>
			<ion-list radio-group>
	  			<ion-item>
				    <ion-label>Male</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Female</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">Age:</ion-card-title>
			<ion-list radio-group>
	  			<ion-item>
				    <ion-label>18 and below</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>18 - 25</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>26 - 35</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>36 - 45</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>46 - 60</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>60 and above</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Short Answer</ion-note>
	 		</div>
			<ion-card-title id="question-title">Phone Number:</ion-card-title>
			<ion-item>
				<ion-input type="text" placeholder="Short answer text" disabled #answer></ion-input>
			</ion-item>
		</ion-card>
	</div>

	<!-- ACADEMIC SURVEY TEMPLATES -->
	<div *ngIf="surveyTitle == 'Graduation Exit Survey for CAS Students Template'">
		<ion-item>
			<ion-input type="text" value="Graduation Exit Survey for CAS Students Template"></ion-input>
		</ion-item>

		<ion-item text-wrap>
			<ion-textarea id="description" type="text" style="border:none" rows=4 value="Congratulations on your graduation! Please take a few minutes to evaluate current programs and assess their needs in order to develop new ones. Please note that your response is confidential and that any data summaries made available will not include your individual responses."></ion-textarea>
		</ion-item>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Short Answer</ion-note>
	 		</div>
			<ion-card-title id="question-title">Name:</ion-card-title>
			<ion-item>
				<ion-input type="text" placeholder="Short answer text" disabled #answer></ion-input>
			</ion-item>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Short Answer</ion-note>
	 		</div>
			<ion-card-title id="question-title">Student Number:</ion-card-title>
			<ion-item>
				<ion-input type="text" placeholder="Short answer text" disabled #answer></ion-input>
			</ion-item>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">Gender:</ion-card-title>
			<ion-list radio-group>
	  			<ion-item>
				    <ion-label>Male</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Female</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Dropdown</ion-note>
	 		</div>
			<ion-card-title id="question-title">Course:</ion-card-title>

			<ion-item>
				<ion-label>Select</ion-label>
			  	<ion-select>
				    <ion-option disable>BS Statistics</ion-option>
				    <ion-option disable>BS Applied Mathematics</ion-option>
				    <ion-option disable>BS Computer Science</ion-option>
				    <ion-option disable>BS Chemistry</ion-option>
			  	</ion-select>
			</ion-item>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Dropdown</ion-note>
	 		</div>
			<ion-card-title id="question-title">Department:</ion-card-title>

			<ion-item>
				<ion-label>Select</ion-label>
			  	<ion-select>
				    <ion-option disable>Division of Physical Sciences and Mathematics</ion-option>
				    <ion-option disable>Division of Chemistry</ion-option>
				    <ion-option disable>Division of Social Sciences</ion-option>
				    <ion-option disable>Division of Humanities</ion-option>
			  	</ion-select>
			</ion-item>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">What is your primary immediate post-graduation plan?(Mark one only)</ion-card-title>
			<ion-list radio-group>
	  			<ion-item>
				    <ion-label>Further study</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Government employment</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Business/industries employment</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Self-employment</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Family employment</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>
	</div>

	<!-- COMMUNITY SURVEY -->

	<div *ngIf="surveyTitle == 'Neighborhood Feedback Template'">

		<!-- Source: https://www.surveymonkey.com/mp/neighborhood-feedback-survey-template/ -->
		<ion-item>
			<ion-input type="text" value="Neighborhood Feedback Template"></ion-input>
		</ion-item>

		<ion-item text-wrap>
			<ion-textarea  id="description" type="text" style="border:none" rows=4 value="By completing this survey, you will help towards research of what activities we will do to increase camaraderie in the neighborhood and also to improve it"></ion-textarea>
		</ion-item>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Dropdown</ion-note>
	 		</div>
			<ion-card-title id="question-title">Today's Date:</ion-card-title>

			<ion-item>
	 			<ion-label>Select Date</ion-label>
				<ion-datetime displayFormat="MMM DD, YYYY" disabled></ion-datetime>
	 		</ion-item>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">What is your age?</ion-card-title>
			<ion-list radio-group>
	  			<ion-item>
				    <ion-label>18 and below</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>18 - 25</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>26 - 35</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>36 - 45</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>46 - 60</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>60 and above</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">How many of your neighbors do you know?</ion-card-title>
			<ion-list radio-group>
	  			<ion-item>
				    <ion-label>All of them</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Most of them</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Above half of them</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>A few of them</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>None of them</ion-label>
				    <ion-radio item-left disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">How strong is the sense of community in this neighborhood?</ion-card-title>
			<ion-list>
	  			<ion-item>
				    <ion-label>Extremely strong</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Very strong</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Somewhat strong</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Not so strong</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Not at all strong</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">How often do you participate in activities in the neighborhood?</ion-card-title>
			<ion-list>
	  			<ion-item>
				    <ion-label>Extremely often</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Very often</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Somewhat often</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Not so often</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Not at all often</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Long Answer</ion-note>
	 		</div>
			<ion-card-title id="question-title">If you do not participate in the activities in the neighborhood, why not?</ion-card-title>
			<ion-item>
	 			<ion-input type="text" placeholder="Long answer text" disabled #answer></ion-input>
	 		</ion-item>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Long Answer</ion-note>
	 		</div>
			<ion-card-title id="question-title">What type of activities would you like to participate in if they were available in this neighborhood?</ion-card-title>
			<ion-item>
	 			<ion-input type="text" placeholder="Long answer text" disabled #answer></ion-input>
	 		</ion-item>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">How well are the streets in this neighborhood maintained?</ion-card-title>
			<ion-list>
	  			<ion-item>
				    <ion-label>Extremely well</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Very well</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Somewhat well</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Not so well</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Not at all well</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">Overall, how safe do you feel in this neighborhood?</ion-card-title>
			<ion-list>
	  			<ion-item>
				    <ion-label>Extremely safe</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Very safe</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Somewhat safe</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Not so safe</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Not at all safe</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Long Answer</ion-note>
	 		</div>
			<ion-card-title id="question-title">What do you like most about this neighborhood?</ion-card-title>
			<ion-item>
	 			<ion-input type="text" placeholder="Long answer text" disabled #answer></ion-input>
	 		</ion-item>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Long Answer</ion-note>
	 		</div>
			<ion-card-title id="question-title">What do you like leasts about this neighborhood?</ion-card-title>
			<ion-item>
	 			<ion-input type="text" placeholder="Long answer text" disabled #answer></ion-input>
	 		</ion-item>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Long Answer</ion-note>
	 		</div>
			<ion-card-title id="question-title">Do you have any other comments, questions, or concerns?</ion-card-title>
			<ion-item>
	 			<ion-input type="text" placeholder="Long answer text" disabled #answer></ion-input>
	 		</ion-item>
		</ion-card>
	</div>


	<!-- INDUSTRIAL SURVEY -->
	<div *ngIf="surveyTitle == 'Dine In Restaurant Survey'">
		<!-- sOURCE: https://www.questionpro.com/survey-templates/dine-in-restaurant/ -->
		<ion-item>
			<ion-input type="text" value="Dine In Restaurant Survey"></ion-input>
		</ion-item>

		<ion-item text-wrap>
			<ion-textarea id="description" type="text" style="border:none" rows=4 value="As our customer, your opinions are very valuable to us. Please take a fw minute and answer the following questions. Thank you."></ion-textarea>
		</ion-item>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">How often do you dine with us?</ion-card-title>
			<ion-list>
	  			<ion-item>
				    <ion-label>Daily</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Weekly</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Monthly</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Once in three months</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>First time</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Never visited</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">Was the server attentive and available when you needed him/her?(Skip this question if you haven't visited the restaurant)</ion-card-title>
			<ion-list>
	  			<ion-item>
				    <ion-label>Yes</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>No</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">How would you rate the taste of your meal?(Skip this question if you haven't visited the restaurant)</ion-card-title>
			<ion-list>
	  			<ion-item>
				    <ion-label>Excellent</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Good</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Average</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Below Average</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Poor</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">Please rate the cleanliness of the restaurant(Skip this question if you haven't visited the restaurant)</ion-card-title>
			<ion-list>
	  			<ion-item>
				    <ion-label>Excellent</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Good</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Average</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Below Average</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Poor</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">What do you think about the lighting in the restaurant?(Skip this question if you haven't visited the restaurant)</ion-card-title>
			<ion-list>
	  			<ion-item>
				    <ion-label>Excellent</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Good</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Average</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Below Average</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Poor</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Multiple Choice</ion-note>
	 		</div>
			<ion-card-title id="question-title">What do you think about the music played in the restaurant?(Skip this question if you haven't visited the restaurant)</ion-card-title>
			<ion-list>
	  			<ion-item>
				    <ion-label>Excellent</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Good</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Average</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Below Average</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>

		  		<ion-item>
				    <ion-label>Poor</ion-label>
				    <ion-radio disabled></ion-radio>
		  		</ion-item>
			</ion-list>
		</ion-card>

		<ion-card padding style="border-radius: 12px;">
			<div text-right>
	 			<ion-note>Long Answer</ion-note>
	 		</div>
			<ion-card-title id="question-title">Do you have any comments?</ion-card-title>
			<ion-item>
	 			<ion-input type="text" placeholder="Long answer text" disabled #answer></ion-input>
	 		</ion-item>
		</ion-card>
	</div>

</ion-content>
