<!--
  Generated template for the SendInvitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Send Invites</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-searchbar
	  [(ngModel)]="searchInput"
	  [showCancelButton]="shouldShowCancel"
	  (ionInput)="onInput($event)"
	  (ionCancel)="onCancel($event)">
	</ion-searchbar>

	<ion-buttons end>
		<button ion-button icon-end clear (click)="gotoFiltersPage()">
			Filter
			<ion-icon name="options"></ion-icon>
		</button>
	</ion-buttons>

	<ion-item no-lines>
		<ion-checkbox [(ngModel)]="selAll" (ionChange)="selectAllUsers()"></ion-checkbox>
		<ion-label>Select All</ion-label>
	</ion-item>

	<!-- DISPLAY CONTACTS -->
	<ion-list text-wrap>
		<p *ngIf="all_users_email.length == 0">
			No users to show.<br/>
			You must be connected to the internet.
		</p>

		<div>
		    <ion-item *ngFor="let user_email of all_users_email" no-lines>
				<ion-avatar item-start>
		       		<ion-img src="../assets/imgs/profile-avatar.png"></ion-img>
		      	</ion-avatar>
		      	<ion-checkbox mode="ios" color="secondary" [(ngModel)]="selections[user_email]" (ionChange)="refresh()" item-end></ion-checkbox>
		      	<ion-label>{{ user_email }}</ion-label>
		    </ion-item>	
		</div>

	    <!-- <ion-item>
			<ion-avatar item-start>
	       		<ion-img src="https://images.unsplash.com/photo-1514794749374-fb67509dbb7f?ixlib=rb-0.3.5&s=3c84ff15fa377687de6ccc8161453032&auto=format&fit=crop&w=400&q=60"></ion-img>
	      	</ion-avatar>
	      	<h3>Aayden Gay</h3>
	      	<ion-checkbox item-end></ion-checkbox>
	    </ion-item>

	    <ion-item>
			<ion-avatar item-start>
	       		<ion-img src="https://images.unsplash.com/photo-1510274332963-71d4e866fccf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3c4425b78cf43bb51fa70306c34b4bb0&auto=format&fit=crop&w=750&q=80"></ion-img>
	      	</ion-avatar>
	      	<h3>Ava Wright</h3>
	      	<ion-checkbox item-end></ion-checkbox>
	    </ion-item>

	    <ion-item>
			<ion-avatar item-start>
	       		<ion-img src="https://images.unsplash.com/photo-1495472772658-b1d6f8472877?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cc54f503d674e8b9dfc8cc6a0703d9dd&auto=format&fit=crop&w=400&q=60"></ion-img>
	      	</ion-avatar>
	      	<h3>Nyle Patterson</h3>
	      	<ion-checkbox item-end></ion-checkbox>
	    </ion-item>

	    <ion-item>
			<ion-avatar item-start>
	       		<ion-img src="https://images.unsplash.com/photo-1512550937872-e223faeff005?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d8958b0f3d723d75bb59aae3d1510dfa&auto=format&fit=crop&w=400&q=60"></ion-img>
	      	</ion-avatar>
	      	<h3>Dianne Cleveland</h3>
	      	<ion-checkbox item-end></ion-checkbox>
	    </ion-item> -->

	</ion-list>

</ion-content>

<ion-footer>
	<ion-toolbar *ngIf="selected_users.length > 0">
		<ion-item no-lines>
			<button item-start clear ion-button>
				<ion-icon name="close"></ion-icon>
			</button>
			{{ selected_users.length }} selected
			<button clear ion-button (click)="sendInvitation()" item-end>
				<ion-icon name="send"></ion-icon>
			</button>
		</ion-item>
	</ion-toolbar>
</ion-footer>
