<!--
  Generated template for the SurveyListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="white">
    <ion-title color="primary">Surveys</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
	<ion-toolbar>
	    <ion-segment [(ngModel)]="surveyList" color="primary">
	      	<ion-segment-button value="all">All</ion-segment-button>
	      	<ion-segment-button value="surveys">Surveys</ion-segment-button>
	      	<ion-segment-button value="invites">Invites</ion-segment-button>
	    </ion-segment>
  	</ion-toolbar>

  	<div [ngSwitch] = "surveyList">

  		<!-- ALL -->
  		<ion-list *ngSwitchCase="'all'" text-wrap>
  			<ion-item *ngIf="all_surveys.length == 0" text-center>
      			<img width="350" height="350" src="../assets/imgs/noSurveyIllustration.png" style="background: transparent !important; vertical-align: middle;">
			</ion-item>

			<ion-item *ngFor="let item of mySurveys" value="item" (click)="gotoSummary(item)">
			  	{{ item['title'] }}
				<button item-end clear ion-button>
					View 
					<ion-icon name="ios-arrow-forward"></ion-icon>
				</button>
			</ion-item>

			<ion-item *ngFor="let item of survey_invites" value="item">
			  	{{ item['title'] }}
				<button item-end round ion-button *ngIf="invite_status[item['id']] != 'completed'" (click)="gotoRespondentView(item)">
					Respond Now
				</button>
				<button *ngIf="invite_status[item['id']] == 'completed'" item-end disabled>Responded</button>
			</ion-item>
		</ion-list>

		<!-- USER OWN CREATED SURVEYS -->
		<ion-list *ngSwitchCase="'surveys'" text-wrap>
			<ion-item *ngIf="mySurveys.length == 0" text-center>
				<!-- You haven't created any surveys yet. -->
				<img width="350" height="350" src="../assets/imgs/noSurveyIllustration.png" style="background: transparent !important; vertical-align: middle;">
			</ion-item>

			<ion-item *ngFor="let item of mySurveys" value="item" (click)="gotoSummary(item)">
			  	{{ item['title'] }}
				<button item-end clear ion-button>
					View 
					<ion-icon name="ios-arrow-forward"></ion-icon>
				</button>
			</ion-item>
		</ion-list>

		<!-- SURVEY INVITES -->
		<ion-list *ngSwitchCase="'invites'" text-wrap>
			<ion-item *ngIf="survey_invites.length == 0" text-center>
				<!-- No survey invitations. -->
				<img width="350" height="350" src="../assets/imgs/noSurveyIllustration.png" style="background: transparent !important; vertical-align: middle;">
			</ion-item>

			<ion-item *ngFor="let item of survey_invites" value="item">
			  	{{ item['title'] }}
				<button item-end round ion-button *ngIf="invite_status[item['id']] != 'completed'" (click)="gotoRespondentView(item)">
					Respond Now
				</button>
				<button *ngIf="invite_status[item['id']] == 'completed'" item-end disabled>Responded</button>
			</ion-item>
		</ion-list>
  	</div>

</ion-content>