page-survey-list {
  ion-img.img-loaded img {
    display: inline-block;
  }

  #draftbtn {
    color: orange;
  }
}

.segment-md .segment-button {
  font-size: 15px;
}

ion-list button {
  letter-spacing: 1px;
}

ion-list ion-note {
  font-size: 12px;
  text-transform: uppercase;
}
