page-signin {
	p{
		text-align: center;
	}

	ion-input{
		border: 1px solid #707070;
		border-radius: 64px;
		/*margin: 5px 0;*/
		padding: 0 15px;
	}

	::placeholder{
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	.errorMessage {
		color: red;
		font-size: 11px;
	}
}
