<!--
  Generated template for the SigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

  <div padding class="fixed-content" text-center>
    <div text-center style="margin-top: 7%;">
      <ion-img width="200" height="200" src="../assets/imgs/logo-bg.png" style="background: transparent !important;"></ion-img>
    </div>

    <form [formGroup] = "authSignin">
      <ion-grid>
        <ion-row style="margin: 3% 0;">
          <ion-input block type="text" placeholder="Email" #email formControlName="email"></ion-input>
        </ion-row>

        <ion-row style="margin: 5px 0;">
          <ion-input block type="password" placeholder="Password" #password formControlName="password"></ion-input>
        </ion-row>

        <p class="errorMessage" *ngIf="!authSignin.controls.email.hasError('required') && authSignin.controls.email.hasError('pattern') && authSignin.controls.email.dirty">
          Please enter valid email
        </p>

        <p class="errorMessage" *ngIf="authSignin.controls.email.hasError('required') && authSignin.controls.email.dirty">
          Please enter email
        </p>

        <p class="errorMessage" *ngIf="authSignin.controls.password.hasError('required') && authSignin.controls.password.dirty">
          Please enter password.
        </p>

        <p class="errorMessage" *ngIf="!authSignin.controls.password.hasError('required') && authSignin.controls.password.hasError('minlength') && authSignin.controls.password.dirty ">
          Password should be at least 6 characters
        </p>

        <p class="errorMessage" id="invalidLogin_div" style="display: none">
          Email and password does not match!
        </p>
      </ion-grid>

      <div text-center>
        <button ion-button round (click)="signin()" #signIn_btn [disabled]="!authSignin.valid">Sign in</button>
      </div>
    </form>
  
  	<div text-center>
  		<p>Don't have an account?</p>
  		<button ion-button clear (click)="navigateToSignUp()">Sign Up</button>
  	</div>

  </div>

</ion-content>