<!--
  Generated template for the SurveySummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Summary</ion-title>
    <ion-buttons end>
      <button ion-button (click)="deleteSurvey()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center>
    <ion-label text-wrap style="font-size: 25px; margin: 13px 8px 0 0;">
      {{ title }}
    </ion-label>

    <ion-grid>
      <ion-row>
        <ion-col>
          <p> <span class="num-title">15</span> 
          TOTAL RESPONSES</p>
        </ion-col>

        <ion-col>
          <p> <span class="num-title">15</span>
          COMPLETE RESPONSES</p>
        </ion-col>
    </ion-row>
    </ion-grid>
  </div>

  <!-- MAIN BUTTONS -->

  <ion-list>
    <button ion-item (click)="gotoEdit()">
      <ion-icon item-left name="create" color="blue" style="font-size: 25px;"></ion-icon>
      Edit
    </button>

    <button ion-item (click)="gotoSendInvitePage()">
      <ion-icon item-left name="send" color="blue" style="font-size: 25px;"></ion-icon>
      Send Invites
    </button>

    <button ion-item>
      <ion-icon item-left name="analytics" color="blue" style="font-size: 25px;"></ion-icon>
      Analyze
    </button>
  </ion-list>

  <!-- SETTINGS -->
  <ion-item-divider style="color: #12608A; font-size: 16px;" no-lines>SETTINGS</ion-item-divider>	
  <ion-item>
    <ion-label>Survey Status:
      <span style="color: #73CA5F;" *ngIf="isActive">OPEN</span>
      <span style="color: #FF675C;" *ngIf="!isActive">CLOSED</span> 
    </ion-label>
    <ion-toggle [(ngModel)]="isActive" color="blue"></ion-toggle>
  </ion-item>

  <!-- DETAILS -->
  <ion-item-divider style="color: #12608A; font-size: 16px;" no-lines>DETAILS</ion-item-divider> 

  <ion-list>
    <ion-item>
      <ion-label>Respondents</ion-label>
      <ion-note item-end color="blue" style="font-size: 1.6rem;">15</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Created</ion-label>
      <ion-note item-end style="font-size: 1.6rem;">{{ created_date }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Modified</ion-label>
      <ion-note item-end style="font-size: 1.6rem;">{{ updated_date }}</ion-note>
    </ion-item>

  </ion-list>


</ion-content>
