<!--
  Generated template for the SurveySummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Summary</ion-title>
    <ion-buttons end>
      <button ion-button (click)="deleteSurvey()" style="margin-right: 10px;">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center>
    <ion-label text-wrap style="font-size: 25px;">
      {{ title }}
    </ion-label>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="num-title" style="margin: 0" text-center>{{ this.configService.connectedToFirebaseFlag? this.configService.getNumResponses(s_id):num_responses }}</ion-label>
          <p style="margin: 0">TOTAL RESPONSES</p>
        </ion-col>

        <!-- <ion-col>
          <ion-label class="num-title" text-center>15</ion-label>
          <p>COMPLETE RESPONSES</p>
        </ion-col> -->
    </ion-row>
    </ion-grid>
  </div>

  <!-- MAIN BUTTONS -->

  <ion-list>
    <button ion-item (click)="gotoEdit()" style="padding-left: 0px;" [disabled]="num_responses != 0 || this.configService.getNumResponses(s_id) != 0">
      <ion-icon item-left name="create" color="blue" style="font-size: 25px;"></ion-icon>
      Edit
    </button>

    <button ion-item (click)="gotoSendInvitePage()" style="padding-left: 0px;" [disabled]="isActive == false">
      <ion-icon item-left name="send" color="blue" style="font-size: 25px;"></ion-icon>
      Send Invites
    </button>

    <button ion-item (click)="gotoResultsPage()" style="padding-left: 0px;">
      <ion-icon item-left name="analytics" color="blue" style="font-size: 25px;"></ion-icon>
      Analyze
    </button>

    <button ion-item (click)="gotoRespondentView()" style="padding-left: 0px;">
      <ion-icon item-left name="checkbox-outline" color="blue" style="font-size: 25px;"></ion-icon>
      Answer
    </button>
  </ion-list>

  <!-- SETTINGS -->
  <ion-item-divider style="color: #12608A; font-size: 16px;padding-left: 0px;" no-lines>SETTINGS</ion-item-divider>	
  <ion-item style="padding-left: 0px;">
    <ion-label>Survey Status:
      <span style="color: #73CA5F;" *ngIf="isActive">OPEN</span>
      <span style="color: #FF675C;" *ngIf="!isActive">CLOSED</span> 
    </ion-label>
    <ion-toggle [(ngModel)]="isActive" (ionChange)="updateSurveyStatus()" color="blue"></ion-toggle>
  </ion-item>

  <!-- DETAILS -->
  <ion-item-divider style="color: #12608A; font-size: 16px;padding-left: 0px;" no-lines>DETAILS</ion-item-divider> 

  <ion-list>
    <ion-item style="padding-left: 0px;">
      <ion-label>Respondents</ion-label>
      <ion-note item-end color="blue" style="font-size: 1.6rem;">{{ this.configService.connectedToFirebaseFlag? this.configService.getNumResponses(s_id):num_responses }}</ion-note>
    </ion-item>

    <ion-item style="padding-left: 0px;">
      <ion-label>Created</ion-label>
      <ion-note item-end style="font-size: 1.6rem;">{{ created_date }}</ion-note>
    </ion-item>

    <ion-item style="padding-left: 0px;">
      <ion-label>Modified</ion-label>
      <ion-note item-end style="font-size: 1.6rem;">{{ updated_date }}</ion-note>
    </ion-item>

  </ion-list>


</ion-content>
