page-welcome {
  h3 {
    text-transform: uppercase;
    font-size: 28px;
    color: #5e5555;
  }

  p {
    font-size: 13px;
  }

  ion-content {
    margin-top: 180px;
  }

  .button-md {
    margin-top: 120px;
    text-transform: capitalize;
  }
}
