page-signup {
	p{
		text-align: center;
	}

	/*.button-md{
		background-color: #12608A;
	}*/

	ion-input{
		border: 1px solid #707070;
		border-radius: 50px;
		padding: 0 15px;
	}

	::placeholder{
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	.errorMessage {
		color: red;
		font-size: 11px;
	}

	#signInBtn {
		margin-top: 70px;

		ion-label {
			margin: 13px 8px 0px 0;
		}

		button {
			margin: 0px 0px;
		}
	}
}
